*{
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}
body{
    background-color: black;
}
.header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    width: 80%;
    gap: 0 30px;

}
.logo img{
    width: 150px;
}
.container button{
    background-color: rgb(229, 9, 20);
    color: white;
    padding: 5px 15px ;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: 600;
}
.container select{

    direction: rtl;
    background-color: rgb(0 ,0,0,0.6 );
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 20px;
    width: 120px;
}
.container select option{
    background-color: white;
}

.landing{
    background-image: url(../images/landing.jpg);
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0;
}
.landing::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%)
}
.landing .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.landing .top{
    position: relative;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
.landing .bottom{
    position: relative;
    text-align: center;
}
.landing .bottom span{
    display: block;
    padding-bottom: 10px;
}
.landing .bottom span:first-child{
    font-size: 1.5rem;
    font-weight: 500;
}
.landing .bottom span:last-child{
    font-size: 1.5rem;
    font-weight: 500;
}

.landing hr {
    position: absolute;
    left: 0;
    bottom: -26px;
}
hr{
    width: 100%;
    color: white;
    z-index: 6;
    height: 10px;
    border: none;
    background-color: #232323;
}
form{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}
form input[type="email"]{
    width: 500px;
    background-color: rgb(0 ,0,0,0.3 );
    color: white;
    padding: 24px 16px 8px;
    direction: rtl;
    border: 1px solid #ccc;
    border-radius: 6px;
}
form button{
    background-color: rgb(229, 9, 20) !important;
    border: none !important;
    color: white !important;
    padding: 12px 24px !important;
    font-size: 20px !important;
    font-weight: bold !important;
}
form button i{
    font-weight: normal;
}
form button:hover{
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1) !important;
    background: rgb(193, 17, 25) !important;
}
form input[type="email"]:focus + p{
    transition: 0.5s;
    font-size: 12px;
    top: 5px;
    right: 10px;
}
form p{
    position: absolute !important;
    margin: 0 !important;
    right: 20px;
    top: 15px;
    font-size: 15px;
    color: #ccc;
    font-weight: normal;
    pointer-events: none;
    transition: 0.5s;
}
.whatch{
    position: relative;
    color: white;
    direction: rtl;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}

.whatch .text{
    flex-basis: 50%;

}
.whatch .text span{
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 15px;
}
.whatch .text p{
    font-size: 20px;

}
.whatch hr{
    position: absolute;
    left: 0;
    bottom: 0;
}
.whatch .screen{
    position: relative;
}
.whatch .screen .mobile{
    width: 600px;
}
.whatch .vedio{
    position: absolute;
    top: 100px;
    left: 80px;
    z-index: -1;
}
.whatch .box{
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 120px;
    background-color: black;
    width: 350px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid rgba(78, 78, 78, 1);
    gap: 15px;
}
.whatch .box .text{
    padding: 15px 0;
}
.whatch .box img{
    width: 80px;
    height: 90px;
}
.whatch .box p{
    font-size: 18px;
    margin: 0;
}
.whatch .box span{
    font-size: 13px;
    color: #0071eb;
    font-weight: normal;
}
.device .vedio{
    top: 55px;
    left: 125px;
}
.device .vedio video{
    width: 385px;
}

.question{
    margin: 30px auto;
}
.question .container{
    flex-direction: column;
}
.question h1{
    color: white;
    font-size: 3rem;
    margin-bottom: 20px;
}
.question button{
    background-color: #232323;
    border: none;
    padding: 25px 20px;
    
}
.question button:hover{
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    background-color: rgba(78, 78, 78, 1);
}
.question .accordion{
    width: 100%;
    direction: rtl;
}
.accordion-item{
    margin-bottom: 5px;
    border: none;
}
.accordion-button{
    background-color: rgb(45, 45, 45);
    color: white;
}
.accordion-button:focus{
    border: none !important;
    box-shadow: none;
    background-color: #232323;
    color: white;
}
.accordion-button::after{
    color: white !important;
    position: absolute;
    left: 10px;
}
.accordion-collapse{
    background-color: rgb(45, 45, 45);
    color: white;
}
.question p{
    position: relative;
    margin: 25px 0 10px;
    color: white;
}

.footer .container{
    flex-direction: column;
    direction: rtl;
    align-items: flex-start;
}
.footer .links{
    gap: 60px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.footer .links ul{
    list-style: none;
}
.footer .links ul li{
    margin-bottom: 15px;
}
.footer .links ul li a{
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
}
.footer .titel{
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 25px;
}
.footer select{
    margin: 20px 0;
}
.footer span{
    color: rgba(255, 255, 255, 0.7);
}
@media(max-width:991px){

    .landing .top{
        font-size: 1.8rem;
    }
    .whatch .container{
        flex-direction: column;
        text-align: center;
    }
    .whatch img{
        width: 640px;
    }
    .mobil .container{
        flex-direction: column-reverse;
    }
    .whatch .text span{
        font-size: 1.8rem;
    }
    form{
        flex-direction: column-reverse;
        width: 100%;
    }
    form input[type="email"]{
        width: 100%;
    }
    .container{
        text-align: center;
        width: 90%  ;
    }

}
@media(max-width:767px){
    .whatch img{
        width: 90%;
    }
    .whatch video{
        width: 80% !important;
        
    }
    .whatch .vedio{
        left: 4% !important;
    top: 35px;
    }
    .device .vedio{
        left: 0% !important;
    top: 35px;
    }
    .device video{
        width: 59% !important;
    }
    form input[type="email"]{
        width: 95%;
    }
    .whatch .screen .mobile{
        width: 100% !important;
        height: 350px;
    }
    .mobil .box{
        right: 30px;
        width: 230px;
    }
    .mobil .box img{
        width: 70px;
        height: 75px;
    }
    .whatch .box .text span{
        font-size: 0.8rem;
    }
    .whatch .box .text p{
        font-size: 0.9rem;
    }
    .whatch  .text span{
        font-size: 1.5rem;
    }
    .whatch .text p {
        font-size: 1rem;
    }
    .header .left-nav select{
        display: none;
    }
    .footer .links {
        gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }
    .logo img{
        width: 110px;
    }
}
